body {
  font-family: "Poppins", sans-serif;
}
.navbar-light .navbar-nav .nav-link {
  padding: 10px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: black;
  padding: 10px;
  border-radius: 1.3em;
  background-color: #ffc61a;
}
.first-bg {
  height: 670px;
}
.body-title {
  height: 500px;
}
.body-title h1 {
  font-weight: bold;
  font-size: 50px;
  color: #ffc61a;
}
input {
  margin: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
.card-border {
  border: none;
  background-color: #e0d9d9;
}
#card-bg {
  background-color: #ffc61a;
}
.bg-four {
  background-image: url(../images/bg/bg2.jpg);
  color: #ffffff;
}
.icon-list {
  border-radius: 60px;
  margin: 1.3rem;
  padding: 1rem;
  height: 3.6rem;
  background-color: #ffc61a;
}
.title h3 {
  color: #ffc61a;
  font-weight: bold;
}
